body {
    margin:0;
    padding:0;
}
header {
    margin:0;
    padding:0;
    width: 100%;
    height: 100px;
    border-top:3px solid #262456;
    background: #dadfe1; /* Old browsers */
    background: -moz-linear-gradient(left,  #dadfe1 0%, #f2f1ef 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #dadfe1 0%,#f2f1ef 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #dadfe1 0%,#f2f1ef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dadfe1', endColorstr='#f2f1ef',GradientType=1 ); /* IE6-9 */
    position:fixed;
    -webkit-box-shadow: 0 20px 10px -15px rgba(0,0,0,0.5);
    box-shadow: 0 20px 10px -15px rgba(0,0,0,0.5);
    z-index: 999;
}
header::after{
    content: '';
    display: block;
    clear: both;
}
.container {
    width:1024px;
    position:relative;
    display:block;
    margin:auto auto;
}
header .logo {
    width:25%;
    float:left;
    line-height:100px;
    height:100px;
    padding-top:15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align:center;
}
header .logo img {
    width:70px;
}
nav{
    width:75%;
    float:left;
}
nav ul{
    margin:0;
    padding:0;
}
nav li{
    width:25%;
    text-align:center;
    list-style: none;
    float:left;
    line-height:100px;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
nav li:hover, li.active {
    height:100px;
    background: #262456; /* Old browsers */
    background: -moz-linear-gradient(top,  #262456 0%, #1b193c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #262456 0%,#1b193c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #262456 0%,#1b193c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#262456', endColorstr='#1b193c',GradientType=0 ); /* IE6-9 */
    -webkit-box-shadow: 17px 0 10px -15px rgba(0,0,0,0.5), -17px 0 10px -15px rgba(0,0,0,0.5);
    box-shadow: 17px 0 10px -15px rgba(0,0,0,0.5), -17px 0 10px -15px rgba(0,0,0,0.5);

}
li.active a{
    color:#D0D0D0;
}
nav li:hover a{
    color:#FFF;
    
}
nav li a{
    font-size:14px;
    text-decoration:none;
    font-weight:bold;
    color:#262456;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
    font-family: 'Roboto', sans-serif;
}