<<<<<<< HEAD
body {
    margin:0;
    padding:0;
    background: #C0C0C0;
    font-size:14px;
    font-family: 'Roboto', sans-serif;
}
.topImg {
    width:100%;
    position:relative;
    display:block;
    padding-top:2%;
}
.nav-bar{
    width:800px;
    height:80px;
    background: #FCFCFC;
    background-image: url('/img/main/nav-bar-bck-1920.jpg');
    position:relative;
    display:block;
    margin: auto auto;
}
.logo {
    width:20%;
    height:80px;
    position: relative;
    display: block;
    margin: auto auto;
    text-align: center;
    float:left;
    padding-top:15px;
}
.logo img{width:50px;}

.links{
    width:80%;
    height:80px;
    position: relative;
    display: block;
    margin: auto auto;
    float:left;
}
.links ul{
    margin:0;
    padding:0;
}
.links li{
    width:25%;
    height:80px;
    list-style: none;
    text-align: center;
    float:left;
    line-height:80px;
}
.links li a{
    text-decoration:none;
    font-weight:bold;
    color:#4844A2;
}
.links li:hover {
    width:18%;
}
.links li:hover a{
    color:#0A0916;
}

.steps{
    width:100%;
    height:300px;
   /* position: relative;*/
    display: block;
    z-index: 0;
    background: #262456;
    -webkit-box-shadow:inset 0 20px 10px -20px rgba(0,0,0,0.6);
    box-shadow:inset 0 20px 10px -10px rgba(0,0,0,0.6);
}
.steps .about {
    width:100%;
    padding:2%;
    color:#D8D8D6;
    font-size:16;
}
.steps .about table{
    width:100%;
}
.steps .about td{
    width:25%;
    text-align: center;
}
.mess {
    width:500px;
    background:#F2F1EF;
    position:absolute;
    left:50%;
    margin:-150px -250px;
    padding:30px;
    padding-top:15px;
    text-align: center;
}
.mess h2{color:#0A0916;}
.mess h3{color:#262456;}
.mess table {
    border:0;
    width:100%;
}
.mess td.left{
    width:35%;
    text-align:right;
}
.mess td.right{
    width:65%;
    text-align: left;
}
.mess input{
    width:200px;
    height: 25px;
    border:1px solid #D8D8D6;
    padding-left:15px;

}
.mess button{
    width:180px;
    height:35px;
    background:#FFF;
    border:1px solid #D8D8D6;
    cursor: pointer;
    color:#333;
    font-weight:bold;
}
.mess button:hover{
    background: #262456;
    color:#F2F1EF;
    border:0;
}
.grid{
    width:100%;
    height:100%;
    display: block;
}
.g20 {
    width:20%;
    height:100%;
    float:left;
}
.step{
    text-align:center;
    position: relative;
    margin:auto auto;
    padding-top:80px;
    font-size:16px;
    color: #d8d8d6;
}
.step b{color:#FFF;}
.imgBck{
    width:120px;
    height:120px;
    border-radius: 150px;
    margin:auto auto;
    padding-top:10px;
    -webkit-box-shadow:inset 0 0 6px 3px rgba(0,0,0,0.4);
    box-shadow:inset 0 0 6px 3px rgba(0,0,0,0.4);
}
.step1 .imgBck {background:#E74C3C;}
.step2 .imgBck {background:#F4D03F;}
.step3 .imgBck {background:#26A65B;}
.step .imgBck img{
    width:100px;
}

.newsletter{
    width:100%;
    height: 100px;
    background:#546862;
    background-image:url('/img/main/newsletterbg-1920.jpg');
    font-size:18px;
    text-align: center;
    line-height:100px;
    font-weight:bold;
    color:#262456;
    text-shadow: 5px 5px 10px #000;
    -webkit-box-shadow: 0 -10px 10px -5px rgba(0,0,0,0.6);
    box-shadow: 0 -10px 10px -5px rgba(0,0,0,0.6);
}
.newsletter input{
    width:200px;
    height:40px;
    border:0;
    margin-left:35px;
    padding-left:5px;
    text-align: center;

    border:1px solid #F2F1EF;
}
.newsletter button{
    width:150px;
    height:40px;
    border:0;
    text-align: center;
    font-weight:bold;
    background:#F4D03F;
    border:1px solid #DABA38;
    color:#222;
}
.newsletter button:hover{
    background:#B49A2F;
    border:0;
    color:#222;
}


@media	screen	and	(max-width:	1920px) {
    .topImg{
        height:700px;
        background: #262456;
        background-image: url("/img/main/background-1920.jpg");
    }
=======
body{padding:0; margin:0; background: #E5E5E5;font-family: 'Roboto', sans-serif;}
.header{width:100%;height:800px;background:#222;padding-top:2%;box-sizing:border-box;position:relative;background-image:url('/img/main/background-1920.jpg');-webkit-box-shadow: 0 35px 10px -30px rgba(0,0,0,0.7);box-shadow: 0 35px 10px -30px rgba(0,0,0,0.7);}
.nav-bar{width:800px;height:80px;background:#FCFCFC;position:relative;display:block;margin-left:auto;margin-right:auto;background-image:url('/img/main/nav-bar-bck-1920.jpg');-webkit-box-shadow: 0 0 8px 4px rgba(0,0,0,0.4);box-shadow: 0 0 8px 4px rgba(0,0,0,0.4);}
.nav-bar .logo {height:80px;display:block;text-align: center;padding-top:15px;box-sizing: border-box;border-right: 1px solid #222;float:left;}
.nav-bar .logo img{width:50px;}
.nav-bar .links{height:80px;display:block;float:left;padding:20px;box-sizing: border-box;}
.nav-bar .links ul{margin:0;padding:0;}
.nav-bar .links li{width:25%;height:40px;list-style:none;float:left;text-align:center;line-height:40px;transition:all 0.7s;}
.nav-bar .links li:hover{border:0px solid #222;width:18%;}
.nav-bar .links li a{height:40px;text-decoration:none;font-size:14px;color:#888;font-weight:bold; -webkit-transition: all 1; -moz-transition: all 1; -ms-transition: all 1;  -o-transition: all 1;  transition: all 1;}
.nav-bar .links li:hover a{color:#20457C;}
.mid-text{position:relative;width:410px;height:auto;margin:auto auto;display: block;margin-top:15%;}
.mid-text ul{margin:0;padding:0;}
.mid-text li{margin-left:2px;list-style: none;width:199px;height:40px;line-height:40px;text-align: center;float:left;background:rgba(255,255,255,0.5);border:1px solid rgba(255,255,255,0.6);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;}
.mid-text li a{text-decoration: none;color:rgba(0,0,0,0.7);
    -webkit-transform: all 1s;
    -moz-transform: all 1s;
    -ms-transform: all 1s;
    -o-transform: all 1s;
    transform: all 1s;}
.mid-text li.mid-blue{background: rgba(52,112,200,0.5);border:1px solid rgba(52,112,200,0.6)}
.mid-text li.mid-blue a{color:rgba(255,255,255,0.7);}
.mid-text li.mid-blue:hover{background:rgba(255,255,255,0.5);border:1px solid rgba(255,255,255,0.6)}
.mid-text li.mid-blue:hover a{color: rgba(0,0,0,0.7)}
.mid-text li:hover {background: rgba(52,112,200,0.5);border:1px solid rgba(52,112,200,0.6)}
.mid-text li:hover a{color:rgba(255,255,255,0.7);}
.steps {width:100%; height:300px; background: #CACaCa;position:relative;display: block;}
.steps .select-mode{width:100%;position:relative;height:40px; background:#C2C2C2;border-bottom:1px solid #333;
    cursor: pointer;}

.steps .select-mode .mode-visitor{width:50%; float:left; height:40px; line-height:40px; text-align:center;text-decoration:underline;color:#999;border-right:1px solid #333;box-sizing:border-box;}
.steps .select-mode .mode-organizer{width:50%; float:left; height:40px; line-height:40px; text-align:center;text-decoration:underline;color:#999;}
.steps .steps-mode {width:1024px; height:259px;position:relative;display:block; margin: auto auto;}
.steps .steps-mode .step1{width:341px;text-align: center;padding-top:29px;box-sizing: border-box;float:left; }
.steps .steps-mode .step2{width:341px;text-align: center;padding-top:29px;box-sizing: border-box;float:left; }
.steps .steps-mode .step3{width:341px;text-align: center;padding-top:29px;box-sizing: border-box;float:left; }
.step-img {position:relative;display:block;margin:auto auto;width:150px; height:150px; text-align:center;padding-top:10px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;}
.step1 .step-img{ background:#CE2F3D;}
.step2 .step-img{ background:#FFF568;}
.step3 .step-img{ background:#009E3D;}
.step3 .step-img img{ width:110px;}
.step-img img{width:128px;}
.steps .steps-mode span{font-size:18px;}
.steps .steps-mode .step1 span b{color:#CE2F3D;}
.steps .steps-mode .step2 span b{color:#FFF568;}
.steps .steps-mode .step3 span b{color:#009E3D;}
.register{width:100%; height:300px;background: #CACaCa;position:relative;}
.register h3{width:500px;margin:auto auto; position:relative;padding-top:15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;}
.register form{width:500px;margin:auto auto;padding-top:15px;box-sizing:border-box;}
.register input[type="text"]{width:250px;height:25px;padding-left:5px;
    border:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;}
.register input[type="email"]{width:250px;height:25px;padding-left:5px;
    border:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;}
.register input[type="password"]{width:250px;height:25px;padding-left:5px;
    border:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;}
.register input[type="submit"]{
    width:250px;
    background:#20457C;
    border:0;
    height:35px;
    font-size:14px;
    font-weight:bold;
    color:#FFF;
    cursor: pointer;
    transition: all 0.7s;
}
.register input[type="submit"]:hover{
    background: #10223C;
>>>>>>> 867b45096a8409af7b2f9c5af62e83f83e21c51f
}