body {
    margin:0;
    padding:0;
    background: #C0C0C0;
    font-size:14px;
    font-family: 'Roboto', sans-serif;
}
.area{
    width:100%;
    height:auto;
    padding:50px;
    background:#F2F1EF;
    position:relative;
    margin-top:10px;
    border:1px solid #aaa;
}
.actions {
    width:100%;
    height:auto;
    text-align:right;
}
.margin130{
    margin-top:130px;
}
.margin10{
    margin-top:10px;
}
.actions button{
    width:100px;
    height:35px;
    font-size:14px;
    font-weight: bold;
    cursor:pointer;
}

button.green{
    color:#FFF;
    background:#26A65B;
    border:1px solid #208C4D;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
button.green:hover{
    background:#208C4D;
}
button.red:hover{
    background: #D54030;
}
button.red{
    color:#FFF;
    background:#EF4836;
    border:1px solid #D54030;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
.profile-avatar{
    text-align:center;
}
.profile-avatar button{
    margin-top:15px;
    width:150px;
    height:35px;
    background:#FFF;
    border:1px solid #A6A6A6;
    color:#A6A6A6;
    font-weight:bold;
    font-size:12px;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
.profile-avatar button:hover{
    background:#262456;
    border:0;
    color:#FFF;
}
h4 {
    font-size:16px;
    font-weight: bold;
    color:#262456;
    border-bottom:1px solid #262456;
    text-align: left;
}
.outercircle {
    width:110px;
    height:110px;
    border-radius: 50%;
    border:1px solid #262456;
    margin:auto auto;
    padding-top:4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
.outercircle:hover {
    width:100px;
    height:100px;
    padding-top:0px;
}
.innercircle {
    width:100px;
    height:100px;
    border-radius: 50%;
    margin:auto auto;
}
.innercircle img{
    width:100%;
    border-radius: 50%;
}
table tr{

}
table td{
    text-align:right;
    height:35px;
    padding-right:20px;
    font-size:12px;
    color:#262456;
}
table td input{
    width:180px;
    height:30px;
    padding-left:5px;
    box-sizing: border-box;
    border-radius:5px;
    border:1px solid #D8D8D6;
}