.round8{-webkit-border-radius: 8px;border-radius: 8px;}
.round5{-webkit-border-radius: 5px;border-radius: 5px;}

/* WIDTH */
.w20{width:20%;float:left;}
.w20:after{
    content:'';
    display: block;
    clear: both;
}
.w80{width:80%;float:left;}
.w79{width:79%;margin-left:1%;float:left;}
.w80:after{
    content:'';
    display: block;
    clear: both;
}
.row{
    width:100%;
}
.clearfix{
    content:'';
    display: block;
    clear: both;
}
/* END OF WIDTH */

.allShadow{
    -webkit-box-shadow: 0 0 3px 3px rgba(0,0,0,0.5);
    box-shadow: 0 0 3px 3px rgba(0,0,0,0.5);
    -webkit-transition: all 0.6s ;
    -moz-transition:  all 0.6s   ;
    -ms-transition:  all 0.6s    ;
    -o-transition:  all 0.6s ;
    transition:  all 0.6s    ;
}


.border-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.transitionAll07s {
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}